@charset "UTF-8";
/* 
Tips:
1. command + d 同樣的可以一直選 
*/
/* also apply ::after&::before for all * selector usage */
*,
*::after,
*::before {
  /* clean every default settig for the browser */
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

/* set root font-size: 62.5%(16px*0.625=10px) then other only have to change its rem, easy maintainable */
/* then change all px to rem(just divided by 10) */
html {
  font-size: 62.5%; }

body {
  /* basic setting */
  font-family: "Lato", sans-serif;
  font-weight: 400;
  /* font-size: 16px; */
  line-height: 1.7;
  color: #777;
  padding: 3rem;
  /* this is for *{box-sizing: inherit} use */
  box-sizing: border-box; }

.header {
  height: 95vh;
  background-image: linear-gradient(to right bottom, rgba(126, 213, 111, 0.8), rgba(40, 180, 133, 0.8)), url(../img/hero.jpg);
  background-size: cover;
  background-position: top;
  position: relative;
  /* 切面板形狀 */
  /* https://bennettfeely.com/clippy/ */
  clip-path: polygon(0 0, 100% 0, 100% 75vh, 0 100%); }

/* 通常都是先一個div在裝img */
.header__logo-box {
  /* absolute會去找relative */
  position: absolute;
  top: 4rem;
  left: 4rem; }

.header__logo {
  height: 3.5rem; }

.header__text-box {
  position: absolute;
  top: 40%;
  left: 50%;
  /* absolute後回到正中間, 兩個-50%是指element itself去看, 指整個element我要把50%往右50%往上 */
  transform: translate(-50%, -50%);
  text-align: center; }

.heading-primary {
  color: #fff;
  text-transform: uppercase;
  margin-bottom: 6rem;
  /* If animation shake a little bit use this */
  backface-visibility: hidden; }

.heading-primary--main {
  display: block;
  font-size: 6rem;
  font-weight: 400;
  letter-spacing: 3.5rem;
  /* 使用自訂的animation function moveInLeft */
  animation-name: moveInLeft;
  animation-duration: 1s;
  /* 設定要function執行的過程路線 */
  animation-timing-function: ease-out;
  /* 
    animation-delay: 3s;
    animation-iteration-count: 3; 
    */ }

.heading-primary--sub {
  display: block;
  font-size: 2rem;
  font-weight: 700;
  letter-spacing: 1.75rem;
  /* animation-name animation-duration animation-timing-function */
  animation: moveInRight 1s ease-out; }

/* animation起手式@keyframe, 以後可以到處重複使用! */
@keyframes moveInLeft {
  0% {
    opacity: 0;
    transform: translateX(-10rem); }
  80% {
    transform: translateX(1rem); }
  100% {
    opacity: 1;
    transform: translate(0); } }

@keyframes moveInRight {
  0% {
    opacity: 0;
    transform: translateX(10rem); }
  80% {
    transform: translateX(-1rem); }
  100% {
    opacity: 1;
    transform: translate(0); } }

@keyframes moveInBottom {
  0% {
    opacity: 0;
    transform: translateY(3rem); }
  100% {
    opacity: 1;
    transform: translate(0); } }

.btn:link,
.btn:visited {
  text-transform: uppercase;
  text-decoration: none;
  padding: 1.5rem 4rem;
  font-size: 1.6rem;
  /* display: inline-block allows to set a width and height on the element, but not as block */
  display: inline-block;
  border-radius: 10rem;
  /* transition: all 讓所有動畫都套用一定要用在link(initial state) */
  transition: all .2s;
  position: relative; }

.btn:hover {
  transform: translateY(-0.3rem);
  /* box-shadow用在button非常很好用 */
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.2); }

.btn:active {
  transform: translateY(-0.1rem);
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.2); }

.btn--white {
  background-color: #fff;
  color: #777; }

/* ::after等於直接接在btn這個element後面 */
/* https://developer.mozilla.org/en-US/docs/Web/CSS/::after */
.btn::after {
  content: "";
  display: inline-block;
  height: 100%;
  width: 100%;
  border-radius: 10rem;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  transition: all .4s; }

.btn--white::after {
  background-color: #fff; }

.btn:hover::after {
  transform: scaleX(1.4) scaleY(1.6);
  opacity: 0; }

.btn--animated {
  /* animation-name animation-duration animation-timing-function animation-delay*/
  animation: moveInBottom .5s ease-out .75s;
  /* Set to the first keyframe before the animation starts, 簡單來說就是搭配animation-delay用  */
  animation-fill-mode: backwards; }
