/* 
Tips:
1. command + d 同樣的可以一直選 
*/

@import "abstracts/functions";
@import "abstracts/mixins";
@import "abstracts/variables";

@import "base/base";
@import "base/animations";
@import "base/typography";
@import "base/utilities";

@import "components/button";

@import "layout/header";

@import "pages/home";

.heading-primary {
    color: $color-white;
    text-transform: uppercase;
    margin-bottom: 6rem;

    /* If animation shake a little bit use this */
    backface-visibility: hidden;

    &--main {
        display: block;
        font-size: 6rem;
        font-weight: 400;
        letter-spacing: 3.5rem;
    
        /* 使用自訂的animation function moveInLeft */
        animation-name: moveInLeft;
        animation-duration: 1s;
        /* 設定要function執行的過程路線 */
        animation-timing-function: ease-out;
    
        /* 
        animation-delay: 3s;
        animation-iteration-count: 3; 
        */
    }
    
    &--sub {
        display: block;
        font-size: 2rem;
        font-weight: 700;
        letter-spacing: 1.75rem;
    
        /* animation-name animation-duration animation-timing-function */
        animation: moveInRight 1s ease-out;
    }
}
