.row {
    max-width: $grid-width;
    background-color: #eee;
    margin: 0 auto;

    // .row:not(:last-child)
    &:not(:last-child) {
        //使最後一個row下方不會有margin-bottom
        margin-bottom: $gutter-vertical;
    }

    .col-1-of-2 {
        // calculation function calc()
        width: calc()
    }

}