
// also apply ::after&::before for all * selector usage 
*,
*::after,
*::before {
    // clean every default settig for the browser
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

/* set root font-size: 62.5%(16px*0.625=10px) then other only have to change its rem, easy maintainable */
/* then change all px to rem(just divided by 10) */
html {
    // This defines what 1rem is
    font-size: 62.5%; // 1rem = 10px; 10px/16px = 62.5%

    // order is important
    @include respond(tab-land) { // width < 1200?
        font-size: 56.25%; // 1rem = 9px; 9/16 = 56.25%
    }

    @include respond(tab-port) { // width < 900?
        font-size: 50%; // 1rem = 8px; 8/16 = 50%
    }

    @include respond(big-desktop) {
        font-size: 75%; // 1rem = 12px; 12/16 = 75%;
    }
}

body {
    // this is for *{box-sizing: inherit} use
    box-sizing: border-box;
    padding: 3rem;

    @include respond(tab-port) { 
        padding: 0;
    }

}

::selection {
    background-color: $color-primary;
    color: $color-white;
}