
// also apply ::after&::before for all * selector usage 
*,
*::after,
*::before {
    // clean every default settig for the browser
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

/* set root font-size: 62.5%(16px*0.625=10px) then other only have to change its rem, easy maintainable */
/* then change all px to rem(just divided by 10) */
html {
    // This defines what 1rem is
    font-size: 62.5%;

    @include respond-phone {
        font-size: 50%;
    }

    @include respond(phone) {
        font-size: 50%;
    }
}

body {
    // this is for *{box-sizing: inherit} use
    box-sizing: border-box;
}